@import url('https://fonts.googleapis.com/css?family=Roboto|Inconsolata&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B2D42;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.output {
    color: #EDF2F4;
    font-size: 140%;
    font-weight: 600;
}

.cartesian {
    display: flex;
    margin: 3%;
}

.i {
    color: #EDF2F4;
    font-size: 130%;
    font-family: Inconsolata;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    color: #27293C;
    background-color: #EDF2F4;
    font-weight: 500;
    text-align: center;
    font-size: 130%;
    width: 50px;
    height: auto;
}

input:focus {
    outline: none;
    background-color:#C2D3D9 ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit {
    background-color: #D90429;
    color: #EDF2F4;
    width: 20%;
    padding: 8px 20px;
    font-size: 110%;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #2B2D42
}

.submit:hover {
    color: #EF233C;
    background-color: #EDF2F4;
    border: 2px solid #EF233C;
}

